Gestion/Connected Services/MetierGestion/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetierGestion.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetierGestion.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Proprietaire">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Personne">
        <xs:sequence>
          <xs:element minOccurs="0" name="Ninea" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rccm" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Proprietaire" nillable="true" type="tns:Proprietaire" />
  <xs:complexType name="Personne">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPersonne" type="xs:int" />
      <xs:element minOccurs="0" name="NomPrenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Personne" nillable="true" type="tns:Personne" />
  <xs:complexType name="ArrayOfProprietaire">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Proprietaire" nillable="true" type="tns:Proprietaire" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProprietaire" nillable="true" type="tns:ArrayOfProprietaire" />
  <xs:complexType name="Appartement">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdresseAppartement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Capacite" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="Disponible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdAppartement" type="xs:int" />
      <xs:element minOccurs="0" name="IdProprietaire" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTypeAppartement" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NombrePiece" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Proprietaire" nillable="true" type="tns:Proprietaire" />
      <xs:element minOccurs="0" name="Surface" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="TypeAppartement" nillable="true" type="tns:TypeAppartement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appartement" nillable="true" type="tns:Appartement" />
  <xs:complexType name="TypeAppartement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Appartements" nillable="true" type="tns:ArrayOfAppartement" />
      <xs:element minOccurs="0" name="IdTypeAppartement" type="xs:int" />
      <xs:element minOccurs="0" name="LibelleTypeAppartement" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypeAppartement" nillable="true" type="tns:TypeAppartement" />
  <xs:complexType name="ArrayOfAppartement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Appartement" nillable="true" type="tns:Appartement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppartement" nillable="true" type="tns:ArrayOfAppartement" />
  <xs:complexType name="Utilisateur">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Personne">
        <xs:sequence>
          <xs:element minOccurs="0" name="Identifiant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MotDePasse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Statut" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Utilisateur" nillable="true" type="tns:Utilisateur" />
  <xs:complexType name="ArrayOfUtilisateur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Utilisateur" nillable="true" type="tns:Utilisateur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUtilisateur" nillable="true" type="tns:ArrayOfUtilisateur" />
</xs:schema>